* {
  margin:0;
  padding:0;
  border:0;
}

section > h1,
section > h2,
section > h3,
section > h4,
section > h5 {
}

.l-main-pagecontent {
  /* padding-top: 0; */
}

#main-content {
  padding: 0 2.6vw
}

#welcome-banner {
  margin-top: 0;
  text-align: center;
}

#landing-main {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}

#twitter-aside {
  min-width: 300px;
  height: auto;
}

#landing-content {
  padding-left: 2vw;
}

#graduation-congratulations {
  display: none;
  margin-bottom: 20px;
}

#chair-portrait-card {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 0;
  padding-top: 0;
}

#chair-portrait {
  height: 350px;
  width: auto;
  border-radius: 6px;
}

figure {
  margin-right: 0;
  padding-right: 0;
}

figcaption {
  text-align: center;
  max-width: 100%;
  font-size: 0.9rem;
  line-height: 1.3;
}

#biol-quick-nav {
  width: 100vw;
  padding-left: 2vw;
}

/* For use during emergencies such as COVID-19 */
.emergency-banner {
  /* display: none; */
	background: rgba(204,0,0,0.5);
	margin: 0px 0px 40px 0px;
	padding:5px 30px;
	border-radius: 6px;
	box-shadow: 5px 5px 5px grey;
}

.emergency-banner > h4 {
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.emergency-banner > p {
	font-size: 1.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.emergency-banner > *  {
	color: rgb(30,30,30);
}

@media screen and (max-width: 1365px) {
  #twitter-aside {
    display: none;
  }

  #landing-main {
    flex-direction: column;
    padding: 0 1vw;
  }

  #landing-content {
    padding-left: 0;
  }

  #biol-quick-nav {
    padding-left: 0;
  }

  #chair-portrait {
    height: 250px;
    width: auto;
    border-radius: 6px;
  }
}
