* {
  margin:0;
  padding:0;
  border:0;
}

section > h1,
section > h2,
section > h3,
section > h4,
section > h5 {
}

.l-main-pagecontent {
  /* padding-top: 0; */
}

#main-content {
  padding: 0 18vw;
}

#welcome-banner {
  margin-top: 0;
  text-align: center;
}

#landing-main {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}

#twitter-aside {
  margin-top: 60px;
  min-width: 225px;
  padding-left: 20px;
  height: 600px;
}

#landing-content {
  padding-left: 1vw;
  padding-right: 2vw;
}

#graduation-congratulations {
  display: none;
  margin-bottom: 20px;
}

#chair-portrait-card {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 0;
  padding-top: 0;
}

#chair-portrait {
  height: 350px;
  width: auto;
  border-radius: 6px;
}

#chair-slogan {
  color: rgba(205,0,0,1);
}

#chair-signature {
}

#chair-name {
  font-weight: bold;
}

figure {
  margin-right: 0;
  padding-right: 0;
}

figcaption {
  text-align: center;
  max-width: 100%;
  font-size: 0.9rem;
  line-height: 1.3;
}

#biol-quick-nav {
  width: 80%;
  margin-left: 1vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#biol-links-card {
  /*
  border: 2px solid rgba(205,205,205,1);
  border-radius: 6px;
  */
  padding: 0 10px;
}

#biol-links-card > h4 {
  margin-top: 20px;
  text-align: center;
}

#biol-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#biol-links li {
  text-align: center; 
  border-bottom: 1px solid rgba(204,204,204,1);
  border-radius: 3px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2rem;
  color: rgba(204,0,0,1);
}

#biol-links li:hover{
  background-color: rgba(204,204,204,1);
  border: 1px solid rgba(104,104,104,1);
}

/* For use during emergencies such as COVID-19 */
.emergency-banner {
  /* display: none; */
	margin: 0px 0px 40px 0px;
	padding:5px 30px;
  border-top: 2px solid rgba(205,0,0,1);
  border-bottom: 2px solid rgba(205,0,0,1);
}

.emergency-banner > h4 {
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.emergency-banner > p {
	font-size: 1.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.emergency-banner > *  {
	color: rgb(30,30,30);
}

@media screen and (max-width: 1365px) {
  #main-content {
    padding: 0 1vw !important;
    margin: 0;
  }

  #twitter-aside {
    display: none;
  }

  #landing-main {
    flex-direction: column;
    padding: 0 1vw;
  }

  #landing-content {
    padding-left: 0;
    padding-right: 0;
  }

  #biol-quick-nav {
    padding-left: 0;
    margin-left 0;
  }

  #chair-portrait {
    height: 250px;
    width: auto;
    border-radius: 6px;
  }
}

@media screen and (max-width: 1800px) {
  #main-content {
    padding: 0 10vw;
    margin: 0 5vw;
  }

  #twitter-aside {
    min-width: 250px;
  }

  #landing-content {
    padding-left: 1vw;
  }

  #biol-quick-nav {
    width: 100%;
    margin-left: 0;
  }
}
